<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Settings</title>

    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a th:href="@{/home}">
            <img class="navbar-brand" th:src="@{/images/logo_text_transparent.png}"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addRepos}">Repositories</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/loadRepoOverview}">Configure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{https://autobump.github.io/autobump}">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <p class="title"><img th:width="300px" th:src="@{/images/autobump.png}"></p>

    <div class="jumbotron">
        <p>Autobump is a bot that automatically creates pull-requests to keep dependencies up to date.
            It scans the pom.xml files, and automatically detects out-of-date dependencies using Maven central.
            It then creates a pull-request for every outdated dependency</p>
    </div>

    <form class="form-group col-md-12" th:action="@{/loadRepoOverview}" method="get">
        <p>Autobump is now bumping the outdated dependencies of your repository</p>
        <button class="btn btn-primary" type="submit">Configure more repos</button>
    </form>
</div>
</body>
</html>