<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Autobump</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
    <div class="container">

        <h1>Welcome to AutoBump!</h1>

        <div class="jumbotron">
            <p>Autobump is a bot that automatically creates pull-requests to keep dependencies up to date.
            It scans the pom.xml files, and automatically detects out-of-date dependencies using Maven central.
                It then creates a pull-request for every outdated dependency.</p>
            <br>
            <p>You can use this website to configure the settings of Autobump for your workspace.
            Select the repositories for Autobump, configure a cron job, assign reviewers
            and select the dependencies you wish not to be bumped.</p>
        </div>

        <h5>You can choose to install Autobump for either all your repositories or a selection.</h5>
        <!--/*@thymesVar id="#selectionDto" type="com.github.autobump.springboot.controllers.dtos.SelectionDto"*/-->
        <form th:action="/selection" th:object="${#selectionDto}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="selection">Please select one option</label>
                    <select class="form-control" id="selection" name="selection">
                        <option value="true">All repositories</option>
                        <option value="false">A selection of repositories</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="button" value="submit">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
