<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Autobump settings</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">

    <h1>Welcome to AutoBump!</h1>

    <h5>Please select the repositories you want automatic bumps for</h5>
    <form th:action="@{/repositories}" th:object="${repositoryListDto}" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <td>Name</td>
            </div>
            <div class="form-group col-md-4">
                <td>Cron-job</td>
            </div>
            <div class="form-group col-md-4">
                <td>Reviewer</td>
            </div>
        </div>
        <div class="form-row" th:each="repo : ${repositoryListDto.repositories}">
            <div class="form-group col-md-6">
                <label th:text="${repo.name}"></label>
            </div>
            <div class="form-group col-md-6">
                <input type="checkbox" th:field="*{repositories}" th:value="${repo.id}">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="submit" value="save">
            </div>
        </div>
    </form>

</div>
</body>
</html>