<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Measurements results</title>
</head>
<body>
<div class="container">
    <form>
        <p>Show form with all repositories listed</p>
        <p>At each line: Possibility to configure: cronjob; reviewer</p>
        <p>Dropdown with dependencies, when selected, dropdown with major, minor, all.</p>
        <p>Button to autobump (all or individual repo's)</p>
    </form>
</div>
</body>
</html>
