<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Autobump settings</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">

    <h1>Welcome to AutoBump!</h1>

    <div class="jumbotron">
        <p>Autobump is a bot that automatically creates pull-requests to keep dependencies up to date.
            It scans the pom.xml files, and automatically detects out-of-date dependencies using Maven central.
            It then creates a pull-request for every outdated dependency.</p>
        <br>
        <p>You can use this website to configure the settings of Autobump for your workspace.
            Select the repositories for Autobump, configure a cron job, assign reviewers
            and select the dependencies you wish not to be bumped.</p>
    </div>

    <p>Please select the repositories you want automatic bumps for, and configure the settings for each repository</p>
    <form th:action="@{/saveSettings}" th:object="${repositoryListDto}" method="post">
        <div class="form-row">
            <div class="form-group col-md-2">
                <td>Repository name</td>
            </div>
            <div class="form-group col-md-2">
                <td>Autobump</td>
            </div>
            <div class="form-group col-md-2">
                <td>Cronjob</td>
            </div>
            <div class="form-group col-md-2">
                <td>Reviewer</td>
            </div>
            <div class="form-group col-md-2">
                <td>Target branches</td>
            </div>
            <div class="form-group col-md-2">
                <td>Dependencies</td>
            </div>
        </div>
        <!--<div class="form-row" th:each="repo, stat : ${repositoryListDto.repositories}">-->
        <div class="form-row" th:each="repo, stat : ${repositoryListDto.repositories}">
            <div class="form-group col-md-2">
                <td><label th:text="${repo.name}"></label></td>
            </div>
            <div class="form-group col-md-2">
                <td><input type="checkbox" th:field="*{repositories}" th:value="${repo.id}" th:checked=false/></td>
            </div>
            <div class="form-group col-md-2">
                <td><input type="checkbox"
                           th:name="|repositories(${stat.index})|"
                           th:value="${repo.getId()}"
                           th:checked="${repo.cronJob}"
                           th:field="*{repositories[__${stat.index}__].cronJob}"></td>
            </div>
            <div class="form-group col-md-2">
                <td><input type="text" th:name="|repositories(${stat.index})|"
                           th:value="${repo.getReviewer()}"
                           th:field="*{repositories[__${stat.index}__].reviewer}"></td>
            </div>
            <div class="form-group col-md-2">
                <td>
                    <select class="form-control"
                            th:name="|repositories(${stat.index})|"
                            th:value="${repo.getTargetBranchNames()}"
                            th:field="*{repositories[__${stat.index}__].targetBranchNames}"
                            multiple="multiple"
                    >
                        <option th:each="branch : ${repo.getTargetBranchNames()}"
                                th:selected="${}"
                        ></option>
                    </select>
                </td>
            </div>
            <div class="form-group col-md-2">
                <td>Dependencies</td>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="submit" value="save">
            </div>
        </div>
    </form>

</div>
</body>
</html>
